<div class="col-xs-10 col-xs-offset-1">
  <p>Find out what High Noon can do for you.
  <h1><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+353 86 822 4165</h2>
  <br />
  <br />
  <h1><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;janine@highnoon.ie</h2>
</div>