<div class="col-xs-8 col-xs-offset-2">
  <h1>Janine Bunnetta - Executive Business Performance & Career Coach</h1>
  <p>Janine is an ICF accredited Coach with a breadth of cross-industry experience, working both on a local and International basis. She has extensive Business acumen, HR and People Management experience, and this she brings to all of her coaching relationships.</p>
</div>
