<div class="col-xs-10 col-xs-offset-1">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag '/assets/janine.jpg', class: 'img-responsive' %>
  </div>  
  <div class="col-xs-12 col-sm-4">
    <h2 class="text-center"><i>"I unreservedly recommend Janine Bunnetta with the confidence that I know she will bring a powerful, positive and lasting impression to any organisation and its leaders"</i></h2> - Garry Mannering - Head of Revenue Assurance & Risk Management, 3 Ireland
  </div>
  <div class="col-xs-12 col-sm-4">
    <h1 class="text-center">Janine Bunnetta - Executive Business Performance & Career Coach</h1>
    <p>Janine is an ICF accredited Coach with a breadth of cross-industry experience, working both on a local and International basis. She has extensive Business acumen, HR and People Management experience, and this she brings to all of her coaching relationships.</p>
  </div>
</div>
