<div class="col-xs-10 col-xs-offset-1">
  <h1>LEADERSHIP</h1>
  <p>Your senior team is responsible for delivering results. ​The objective of High Noon Leadership Development Programmes is to align the organisation and its people behind the leadership team and its business strategy. 
  <p>We partner with organisations that are embarking on development or effectiveness journeys and we focus on talent, succession and building leadership skills and ability.​ This programme benefits senior managers and directors and is tailored to your leaders specific needs after a period of consultation and diagnosis. Recommendations can cover approaches ranging from Responsibility Based Leadership, to Leading through Change, Bringing Strategy to Life and Stepping Up to Leader from Manager.​ 
  <p>Outcomes of our Leadership Development Programmes include:
  <ul>
  <li>Very clear direction – personally, in teams and for the organisation</li>
  <li>Resourceful people in a resourceful culture – taking responsibility, knowing what they are about, making decisions with purpose</li>
  <li>Higher level of management / leadership skill which is enabled, alive and visible</li>
  <li>Clear parameters to view, measure and receive feedback on performance, potential and opportunity</li>
  <li>Refreshed, refocused or newly created fit-for-purpose people and organisational tools</li>
  <li>These support organisation and sustain effectiveness and the future positive growth of culture</li>
  </ul>

  <h1>COACHING</h1>
  <p>At High Noon everything we deliver is aligned with Coaching principles and holds our Clients business objectives at its core. We bring together experienced Coaches who have a wealth and breadth of expertise, knowledge and coaching skills.
  <p>What makes us different is that our principals and consultants not only are excellent coaches and bring out the best in our Coachees but they have a depth of commercial experience and practical know-how of organisational behaviour to effect lasting change. They are experts in their chosen area of specialty.
  <p>We offer one-to-one Coaching Programmes to Middle & Senior Management and Executives. Additionally, we offer coaching to support and embed the learnings on both the Leadership Programmes and Academy modules.
  <p>Coaching is on a one-to-one basis, the subject matter will vary and is very much dependent on Coachee requirements.
  <p>Some areas for consideration include:
  <ul>
  <li>Leadership</li>
  <li>Performance Management</li>
  <li>Strong Management</li>
  <li>Team Management</li>
  <li>Resilience</li>
  <li>Managing My Personal Brand</li>
  <li>First 90 Days</li>
  </ul>

  <p>An outline of expectations or challenges faced is usually provided by the organisation to the Coach prior to meeting the Coachee. The scope of work and Coaching Agreement is contracted in advance between the Coachee and the Coach. Ours is very much a partnership approach on the journey to enabling the Coachee and Client to achieve the outcomes and agreed goals as set out in the original Coaching Contract.

  </h1>LEARNING ACADEMY</li>
  <p>The High Noon Management Academy is designed to provide flexible learning and development solutions for managers and team leaders.​
  <p>The Academy delivers a range of skills and competency based learnings in practical user-friendly modules. These modules can be delivered as stand alone or in combination as a programme.​
  <p>The purpose of The High Noon Management Academy is to enable Clients to up skill and develop their employees to be as effective as possible and optimise their strengths quickly.
  <p>Each programme is about creating change and momentum for the individual, the team and the organisation in a way that has immediate impact, measurability and a lasting effect in their application to their everyday work.
  <p>The High Noon Academy is designed to provide flexible learning and development solutions for professionals, managers and team leaders. The purpose of the Academy is to enable clients to up-skill and develop their employees to be as effective as possible and optimise their strengths quickly.
  <p>The Academy delivers a range of skills and competency based learnings in practical user-friendly modules. There are 3 pillars of learning with 23 modules which can be delivered as stand alone or in combination as a programme. Modules are generally 90 minutes in length and delivered on-site for maximum client efficiency.

  <p>Pillar 1: Skills
  <ul>
    <li>Performance Management</li>
    <li>Presentation Skills</li>
    <li>Win-win Negotiation</li>
    <li>Conflict Resolution</li>
    <li>Problem Solving</li>
    <li>Communicating Effectively</li>
    <li>Time Management</li>
    <li>Personal Branding Online</li>
  </ul>

  <p>Pillar 2: Attitude
  ​<ul>
    <li>Learned Optimism</li>
    <li>Self-Awareness</li>
    <li>Assertiveness</li>
    <li>Self-Management</li>
    <li>Emotional Intelligence</li>
    <li>Creating Habits</li>
    <li>MBTI (minimum 3.5 hours)</li>
    <li>Impact on Others</li>
  </ul>

  <p>Pillar 3: Team​
  <ul>
    <li>​Winning Behaviours​</li>
    ​<li>Managing Change​</li>
    ​<li>Motivating Others​</li>
    ​<li>Managing versus Leading Teams​</li>
    ​<li>Dealing with Difficult People​</li>
    ​<li>Influencing Others​</li>
    ​<li>Creating a Coaching Culture</li>
  </ul>
</div>